@font-face {
  font-family: "SpaceMono";
  src: url("./Font/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}
@font-face {
  font-family: "WhiteInk";
  src: url("./Font/WhyteInktrap-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}
@font-face {
  font-family: "Spacelight";
  src: url("./Font/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}
@font-face {
  font-family: "Spacemreg";
  src: url("./Font/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}
@font-face {
  font-family: "WhiteInklight";
  src: url("./Font/WhyteInktrap-Light\ .ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "WhiteInkreg";
  src: url("./Font/WhyteInktrap-Regular.ttf") format("truetype");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(180deg, #292929, #101010 7%);
  min-height: 100vh;
  margin: 0;
}

.vertical-lines {
  position: fixed;
  top: 0;
  left: 8%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  pointer-events: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.line {
  width: 1px;
  background-color: #424242;
  height: 100vh;
}

.master-wrapper {
  padding-left: 15%;
  padding-right: 10%;
  padding-top: 5%;
  margin: 0;
}
.master-wrapper-footer {
  padding-left: 15%;
  padding-right: 10%;
  padding-top: 200px;
}

.hero-wrapper {
  padding-left: 15%;
  margin: 0;
  background: linear-gradient();
}
.hero {
  padding-top: 5%;
  margin: 0;
  border-left: 1px solid #424242;
  border-bottom: 1px solid #424242;
  border-bottom-left-radius: 20px;
}
.hero-top {
  padding-right: 10%;
  margin: 0;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar for horizontal scroll */
}

::-webkit-scrollbar-track {
  background: #101010; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #414141; /* Color of the thumb */
  border-radius: 10px; /* Round corners of the thumb */
  border: 2px solid #101010; /* Adds a border around the thumb to match the background */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666666; /* Slightly lighter color on hover */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "SpaceMono";
}
.links {
  padding-left: 7px;
}

.contact-links {
  display: flex;
  gap: 100px;
}

.link-item {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.arrow-icon {
  width: 16.48px;
  height: 16.78px;
  fill: #fc5f2f;
  flex-shrink: 0;
}

.link-item:hover {
  color: #ffffff;
}

.location-section {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  text-decoration: none;
}

.location-icon {
  width: 14px;
  height: 14px;
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(-20deg); /* Adjust icon color */
}
.scrolling-location-container {
  width: 180px;
  overflow: hidden;
}

.scrolling-location {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  animation: scroll 16s linear infinite;
}

.location-icon {
  width: 14px;
  height: 14px;
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(-20deg);
  flex-shrink: 0;
}

.scrolling-location span {
  color: #ffffff;
  font-size: 16px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.wrapper-intro {
  display: flex;
  padding: 8% 0% 8%;
  justify-content: space-between;
}

.intro-section {
  width: 560px;
  max-width: 850px;
}

.intro-section h1 {
  font-weight: 500;
  line-height: 1;
  margin: 0;
  color: #f5f5f5;
  font-family: "WhiteInk";
  font-size: 98px;
  background: linear-gradient(to right, #858585, #f5f5f5, #b7b7b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-section h1 span {
  display: block;
  margin-top: 10px;
}

.intro-section p {
  font-weight: 400;
  line-height: 1.5;
  margin-top: 20px;
  color: #ebebeb;
  font-family: "Spacelight";
  font-size: 18px;
  padding-left: 7px;
}

.intro-section p strong {
  font-weight: 700;
  color: #ffffff;
  font-family: "Spacemreg";
}

.scroll-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 60%;
  max-width: 500px;
  padding-bottom: 13%;
}

.scroll-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 150px;
  height: 150px;
}

.rotating-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transform: rotate(0deg);
  animation: rotateCircle 16s linear infinite;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.rotating-circle::before {
  display: inline-block;
  transform: rotate(-90deg);
  text-align: center;
  width: 100%;
  white-space: nowrap;
}

.fixed-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: auto;
  z-index: 1;
}

@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro-bottom {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 20px;
  color: #ebebeb;
  font-family: "Spacelight";
}

.intro-bottom p {
  padding-left: 7px;
}
.clients-section {
  width: 100%;
  padding: 20px 0;
  background-color: #202020;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-bottom-left-radius: 20px;
}

.clients-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px;
  gap: 130px;
}

.client-logo {
  max-height: 40px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.client-logo:hover {
  opacity: 1;
}
/* Toughest -part */

.navbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Spacelight";
  position: fixed;
  z-index: 100;
  bottom: 3%;
}
.navbar {
  position: sticky;
  bottom: 5%;
  width: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  z-index: 10005;
  border-radius: 8px;
}
.backdrop-masti {
  position: relative;
  backdrop-filter: blur(77px);
  border-radius: 8px;
}
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: linear-gradient(to right, #2f2f2f, #585858);
  opacity: 0.5;
  border-radius: 8px;
  backdrop-filter: blur(77px);
}
.navlink-wrapper {
  background-color: #10101099;
  padding: 10px;
  border-radius: 8px;
}
.active {
  border-color: 1px solid white;
}
.nav-links {
  display: flex;
  gap: 10px;
  opacity: 1;
}

.nav-button {
  background: transparent;
  border: 1px solid #555; /* Border for button */
  padding: 8px 16px;
  color: #fff;
  font-size: 14px;
  border-radius: 8px; /* Rounded corners */
  transition: background 0.3s ease, border-color 0.3s ease;
}

.nav-button:hover {
  background-color: #333; /* Slight background change on hover */
  border-color: #777; /* Change border color on hover */
}

.nav-button.active {
  border-color: #fff; /* Active border color */
}

/* Styling for the "Download Resume" button */
.download-button {
  background-color: #f0f0f0; /* Light background */
  color: #000;
  border: none;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.download-button:hover {
  background-color: #ddd;
}

.work-wrapper {
  width: 100%;
}

.works-section-title {
  font-family: "WhiteInk";
}
.works-section-title h1 {
  color: #ebebeb;
  size: 48px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.works-section-title p {
  font-family: "WhiteInklight";
  font-size: 32px;
  font-weight: 100;
  color: #ebebeb;
  font-weight: 300;
}

.title-p {
  font-family: "WhiteInk";
  font-size: 18px;
  color: #ebebeb;
  margin-bottom: 15px;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "WhiteInk";
}

.text {
  color: #8b8b8b;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #8b8b8b;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.works-section-wrapper {
  width: 100%;
}
.works-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.each-container-wrapper {
  margin-bottom: 3rem;
}
.each-container {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.each-case-img {
  position: relative;
  overflow: hidden;
}
.each-case-img img {
  transition: transform 0.5s ease;
  cursor: pointer;
}

.each-case-img img:hover {
  transform: scale(1.1);
  z-index: 10;
  border-radius: 8px;
}
.img-container {
  position: relative;
  overflow: hidden;
}

.view-project {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  pointer-events: none;
}

.each-container:hover .view-project {
  display: block;
}

.view-project img {
  height: 200px;
}

.award-wrapper {
  width: 100%;
}

.footer-wrapper {
  width: 100%;
  padding: 20px 0;
}

.footer {
  width: 100%;
  margin-bottom: 150px;
}

.scrolling-footer {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scroll-content {
  display: flex;
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}

.content-item {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.content-foot {
  font-family: "WhiteInk";
  font-size: 81px;
  color: #797979;
}

.content-item img {
  height: 36px;
  margin-right: 15px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrolling-footer::-webkit-scrollbar {
  display: none;
}

/* Full Viewport Section */
.main-container {
  height: 200vh;
  position: relative; /* To allow scrolling */
}

.vertical-lines-maincont {
  position: absolute;
  top: 0;
  left: 8%;
  transform: translateX(-50%);
  width: 100%;
  height: 200vh;
  pointer-events: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  z-index: 50;
}

.linemain {
  width: 1px;
  background-color: #b4b4b4;
}

.achievement-section {
  display: flex;
  align-items: start;
  justify-content: space-between;
  height: 100vh;
  background: linear-gradient(#c0bfba, #d0d0d0);
  padding-left: 15%;
  position: relative;
}

.content {
  max-width: 450px;
  padding-top: 120px;
}

/* Achievement Icon and Label */
.achievement-label {
  font-family: "WhiteInkreg";
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #101010;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.achievement-img {
  color: #ff6536;
  padding-bottom: 5px;
}

/* Title */
.title {
  font-family: "WhiteInk";
  font-size: 52px;
  font-weight: 500;
  color: #4f4f4f;
}

.title span {
  border-bottom: 2px solid #4f4f4f;
}

/* Badge */
.badgeawar {
  font-family: "SpaceMono";
  display: inline-block;
  background-color: #ff8762;
  color: #101010;
  font-style: italic;
  padding: 10px 8px 10px 8px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 100px;
  margin-top: 20px;
}

/* Description */
.description {
  margin-top: 48px;
  font-family: "Spacemreg";
  font-size: 18px;
  font-weight: 500;
  color: #525252;
}
.award-image {
  position: absolute;
  bottom: -100%; /* Initially hidden below the viewport */
  right: 0;
}

.works-section-grid {
  display: grid;
  column-gap: 15px;
}

/* About */
.about-myself {
  width: auto;
  height: 512px;
  margin-top: -15px;
}
.heading-about {
  font-family: "WhiteInk";
  font-size: 52px;
  color: #f3f3f3;
  margin-bottom: 0px;
}
.mid-about {
  font-family: "Spacelight";
  font-size: 16px;
  color: #f3f3f3;
  width: 520px;
  margin-top: 35px;
}

.bold-about {
  font-family: "Spacemreg";
  font-size: 16px;
  color: #f3f3f3;
  font-weight: 700;
  margin-top: 40px;
  width: 524px;
}

.about-proj {
  font-family: "Spacelight";
  font-size: 16px;
  color: #f3f3f3;
}

.about-second-section {
  margin-top: 150px;
}

.mid-about-first {
  width: 420px;
  font-family: "WhiteInk";
  font-size: 32px;
  font-weight: 400;
  color: #f3f3f3;
}

.books-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.books-slider {
  display: flex;
  width: fit-content;
  animation: slide 10s linear infinite;
}

.books-slider .image {
  width: 300px;
  padding: 10px;
  flex-shrink: 0;
}

.books-slider .image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.no-design {
  text-decoration: none;
}

.no-design:hover {
  text-decoration: none;
}
/* Creates the infinite sliding effect */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.about-left {
  width: 40%;
}
.about-right {
  width: 40%;
}
.not-design {
  font-family: "WhiteInkreg";
  font-size: 32px;
  color: #f3f3f3;
  width: 310px;
}
.red-quote {
  font-size: 20px;
  font-family: "Spacemreg";
  color: #fc5f2f;
}
.blur {
  font-family: "WhiteInk";
  font-size: 16px;
  color: #8e8e8e;
}
.about-grid-boy {
  display: grid;
  grid-template-columns: 417px auto;
  gap: 123px;
  width: 100%;
}

.mid-section-grid {
  display: grid;
  grid-template-columns: 420px auto;
  gap: 123px;
  width: 100%;
}
.mid-about-second {
  width: 310px;
}
.mid-about-second p {
  width: 310px;
}
.others-wrapper {
  margin-top: 150px;
}
.others-grid {
  display: grid;
  grid-template-columns: 420px auto;
  column-gap: 230px;
  justify-content: space-between;
}

.blog-text {
  font-family: "WhiteInkreg";
  font-weight: 400;
  font-size: 48px;
  color: #ebebeb;
}
.blog-heading {
  margin-bottom: 80px;
}
.blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 125px;
}
.blog-img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  display: block;
  margin-bottom: 20px;
}

.blog-details {
  font-family: "WhiteInkreg";
  font-weight: 400;
  font-size: 18px;
  color: #ebebeb;
}

.blog-read {
  font-family: "Spacelight";
  font-size: 18px;
  color: #8b8b8b;
}

.master-wrapper-about {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  margin: 0;
}
.vertical-lines-about {
  position: fixed;
  top: 0;
  left: 12%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  pointer-events: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.line-about {
  width: 1px;
  background-color: #424242;
  height: 100vh;
}
.mobile-button{
  display: none;
}
/* RESPONSIVE MOBILE */

@media (max-width: 576px) {
  .vertical-lines {
    display: none;
  }
  .line {
    display: none;
  }
  .hero-wrapper {
    padding-left: 20px;
  }
  .links {
    display: none;
  }
  .scrolling-location-container{
    margin-left: 10px;
  }
  .wrapper-intro{
    padding: 10% 0% 10%;
  }
  .intro-section{
    width: 350px;
    max-width: 400px;
  }
  .scroll-wrapper{
    display: none;
  }
  .intro-section  h1{
    font-size: 50px;
  }
  .intro-section p{
    font-size: 15px;
  }
  .mobile-button{
    font-family: "Spacelight";
    margin-left: 7px;
    display: block;
  }
  .bottom-intro-section{
    margin-top: 4rem;
  }
  .ouo{
    display: none;
  }
  .navbar{
    width: 345px;
  }
  .master-wrapper{
    padding-left: 20px;
  }
  .works-section-title{
    margin-top: 50px;
  }
  .works-section-title h1{
    size: 32px;
  }
  .works-section-title p img{
    size: 20px;
  }
}
